.wallpaper {
    background-image: url("../images/me.jpg");
    background-size: cover;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .95
}

.wallpaper-projects{
    min-height: 100vh;

}

.wallpaper-contact {
    min-height: 100vh;
    background-color: #282c34;

}